@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "ProductSans";
  src: url("./assets/Product\ Sans\ Regular.ttf");
}
@font-face {
  font-family: "ProductSansBold";
  src: url("./assets/Product\ Sans\ Bold.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.overflow-auto {
  overflow: auto;
}

.expand-button {
  z-index: 1;
}

.description {
  word-wrap: break-word;

  a {
    color: #06c;
  }
  ul {
    list-style: disc;
    list-style-position: inside;
  }
  ol {
    list-style: decimal;
    list-style-position: inside;
  }  
}

